@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
    --main-color: #c1745f;
    --btn-color: #4b1f1f;
    --hover-color: #5e3030;
    --body-color: #f5f5f5;
}

.navbar-main-color {
    background-color: var(--main-color);
}

.navbar-brand {
    font-family: "Courgette";
    font-size: 26px !important;
    color: var(--main-color);
}

.navbar-brand:hover {
    color: var(--hover-color);
}

.nav-item {
    font-size: 18px;
    font-family: "Nunito", serif;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    font-size: 18px;
    font-family: "Nunito", serif;
    font-weight: 700 !important;
    color: #ff755f !important;
}

.nav-link {
    color: var(--main-color);
}

.active-button {
    background-color: var(--main-color) !important;
    color: var(--body-color) !important;
    padding: 10px 20px !important;
    border-radius: 30px !important;
}

.active-button:hover {
    background-color: #a12f1d !important;
    color: var(--body-color) !important;
    padding: 10px 20px !important;
    border-radius: 30px !important;
}

.deactive-button {
    padding: 10px 20px !important;
    border-radius: 30px !important;
}

/* dropdown-item */
.dropdown-item {
    color: var(--main-color);
}

.dropdown-item:hover {
    background-color: #4b1f1f6b !important;
    color: white !important;
}

.avatar {
    border: solid 5px var(--main-color);
}

/* HERO */
.hero-title {
    font-size: 2.5rem !important;
    font-family: "Poppins", serif; /* Font family */
    font-weight: 800;
    color: #333; /* Text color */
}

.hero-subtitle {
    font-size: 1.2rem;
    color: #666;
}

.hero-button {
    background-color: #c1745f !important;
    font-size: 1rem;
    padding: 10px 15px !important;
    border-radius: 10px;
    color: var(--body-color) !important;
    border-radius: 30px !important;
    border: solid 2px #c1745f !important;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.hero-button:hover {
    background-color: var(--body-color) !important;
    color: #c1745f !important;
    font-weight: bold;
    border: solid 2px #c1745f !important;
}

body {
    background-color: var(--body-color) !important;
    padding-top: 80px;
}

.card-height {
    height: 200px;
}

.text-over {
    white-space: nowrap;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-minuman {
    position: relative;
    display: block;
}

.text-minuman:hover {
    display: block;
}

.text-foto {
    margin: 70px 0px;
    top: 1px;
    position: absolute;
    display: block;
}

.text-foto:hover {
    display: block;
}

.text-main {
    color: var(--main-color) !important;
}

/* nav Cafe */

.img-cafe {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.img-cafe-logo {
    top: 23%;
    left: 15%;
    width: 130px;
    height: 130px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.border-nav-cafe {
    border-bottom: var(--main-color);
}

.home-cafe {
    top: 5px;
    left: 5px;
    position: absolute;
}

.bg-nav-cafe {
    background-color: #4b1f1fce;
}

.card {
    border-radius: 0px !important;
}

@media only screen and (max-width: 991px) {
    .img-cafe {
        height: 360px;
    }
}
/* End nav Cafe */

/* footer cafe */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background: #151414;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #c1745f;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo h1 {
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Nunito", serif;
}
.footer-logo a {
    color: #fff;
    text-decoration: none;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
.facebook-bg {
    background: #3b5998;
}
.twitter-bg {
    background: #55acee;
}
.google-bg {
    background: #dd4b39;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    left: 30px;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #c1745f;
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none !important;
}
.footer-widget ul li a:hover {
    color: #c1745f;
}
.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    border-radius: 15px;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #c1745f;
    padding: 13px 20px;
    border: 1px solid #c1745f;
    border-radius: 0px 15px 15px 0px;
    top: 0;
}
.subscribe-form button:hover {
    background: #853b26;
    border: 1px solid #853b26 !important;
    border-color: #fff;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.copyright-area {
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a {
    color: #c1745f;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a {
    color: #c1745f;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

/* end footer */

/* search */

.btn-primary {
    border: 2px solid white !important;
    --bs-btn-color: #fff;
    --bs-btn-bg: #4b1f1f !important;
    --bs-btn-border-color: #4b1f1f !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #854c3c !important;
    --bs-btn-hover-border-color: var(--hover-color);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--hover-color) !important;
    --bs-btn-active-border-color: #854c3c !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4b1f1f !important;
    --bs-btn-disabled-border-color: #4b1f1f !important;
}

/* btn toggler */

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y)
        var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: white !important;
    background-color: transparent;
    border: var(--bs-border-width) solid white !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

/* btn checkbox */
.btn-outline-primary {
    --bs-btn-color: var(--main-color) !important;
    --bs-btn-border-color: var(--main-color) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--main-color) !important;
    --bs-btn-hover-border-color: var(--main-color) !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--main-color) !important;
    --bs-btn-active-border-color: var(--main-color) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--main-color) !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--main-color) !important;
    --bs-gradient: none;
}

/* JAdwal */

.jadwal {
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 1px 10px;
    position: absolute;
    top: 50px;
    right: 30px;
    border-radius: 10px;
}

/* Fasilitas */
.fasilitas {
    color: var(--main-color);
    font-weight: bold;
    padding: 5px 10px;
    padding-top: 4px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
}

/* input Bukti */

.edit-bukti {
    padding: 76px 25.7%;
    border-radius: 10px;
    color: #f5f5f500;
    background-color: #4b1f1f00;
    position: absolute;
}
.edit-bukti:hover {
    display: block;
    color: #f5f5f5;
    background-color: #4b1f1fac;
}

/* css Number */
.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 7px 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ddd;
    width: 9rem;
    border-radius: 0.25rem;
}

.number-input.number-input button {
    width: 2rem;
    height: 0.5rem;
}

.number-input.number-input button.minus {
    padding-left: 6px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: 0.9rem;
    background-color: #495057;
}

.number-input.number-input input[type="number"] {
    max-width: 3rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-width: 0 1px;
    font-size: 1rem;
    height: 1rem;
    color: #495057;
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        .number-input.b575-number-input.safari_only button:before,
        .number-input.b575-number-input.safari_only button:after {
            margin-top: -0.2rem;
        }
    }
}

/* nav Pembelian */
#pembelian {
    width: 100%;
    padding: 20px;
    background-color: white;
}

/* nav login */

.nav-login {
    background-color: #4b1f1f;
    color: white;
}

/* nav header */
.text-header {
    font-size: 12px;
    width: 100%;
    position: absolute;
    top: 5px;
    color: white;
}

/* Rating Css */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating > input {
    display: none;
}

.rating > label {
    position: relative;
    width: 1em;
    font-size: 50px;
    font-weight: 300;
    color: #ffd600;
    cursor: pointer;
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.lencana {
    position: absolute;
    top: 26px;
    left: 38px;
    z-index: 1;
}

/* Configuration */
.rounded-sm {
    border-radius: 20px !important;
}

#cafe-list-container {
    background-color: #c1745f;
}

#cafe-list-title h5 {
    font-family: "Courgette", serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

#cafe-list-title a {
    background-color: #fff;
    color: #c1745f !important;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
}

#cafe-list-title a:hover {
    background-color: #c1745f;
    color: #fff !important;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;
}

/* Gallery Menu */
.gallery-block.grid-gallery {
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block.grid-gallery .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover {
    opacity: 0.8;
}

.gallery-block.grid-gallery .item img {
    border-radius: 30px !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.gallery-block.grid-gallery .item {
    margin-bottom: 20px;
}

@media (min-width: 576px) {
    .gallery-block.grid-gallery .scale-on-hover:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

.btn-ulasan {
    background-color: #c1745f !important;
    font-size: 1rem;
    padding: 10px 15px !important;
    border-radius: 10px;
    color: var(--body-color) !important;
    border-radius: 30px !important;
    border: solid 2px #c1745f !important;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.btn-kelola {
    background-color: #695fc1 !important;
    font-size: 1rem;
    padding: 10px 15px !important;
    border-radius: 10px;
    color: var(--body-color) !important;
    border-radius: 30px !important;
    border: solid 2px #695fc1 !important;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.btn-ulasan:hover {
    background-color: var(--body-color) !important;
    color: #c1745f !important;
    font-weight: bold;
    border: solid 2px #c1745f !important;
}